.button {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #ffd700;
    -fx-text-fill: #ee7600;
}

.button:pressed {
    -fx-background-color: #eeeed1;
}