
/* Hiệu ứng Login, Registration và Security Question */

.button {
    -fx-background-radius: 50px;
}

.button:pressed {
    -fx-background-color: #ff6694;
}

.button-create_new_account {
    -fx-font-size: 13px;
    -fx-background-color: #fff;
    -fx-text-fill: #00c4cc;
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-cursor: pointer;
    -fx-transition: opacity 0.2 ease;
    -fx-padding: 5px;
    -fx-border-color: #00c4cc;
    -fx-border-radius: 50;
}

.button-create_new_account:pressed {
    -fx-text-fill: #fff;
    -fx-background-color: #ff6694;
}

.field {
    -fx-background-color: #fff;
    -fx-background-radius: 50;
}

.field:focused {
    -fx-background-color: #ffffe0;
    -fx-border-color: #ffcc00;
    -fx-border-radius: 50;
}

#body_left_login {
    -fx-background-color: linear-gradient(to left, #8ddadc, #fabcce);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}


.radio-button-reader:selected {
    -fx-mark-color: #00c4cc;
}

.radio-button-manager:selected {
    -fx-mark-color: #ff6694;
}

#body_security_question {
    -fx-background-color: linear-gradient(to right, #d0b5ba, #a1dfe1);
}

#buttonRegister {
    -fx-font-size: 14px;   /* Cỡ chữ: 14px */
    -fx-background-color: transparent; /* Màu nền: trong suốt */
    -fx-background-color: #fff;  /*  Màu nền: #00c4cc  */
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #e70346, #047e85);
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #ff6694, #00c4cc);
    -fx-border-radius: 50;
    -fx-font-weight: bold; /* Nét chữ: Đậm */
    -fx-cursor: pointer; /* Con trỏ chuột khi trỏ vào button: có thay đổi */
    -fx-transition: opacity 0.2 ease; /* Độ mờ khi trỏ vào button */
}

#buttonRegister:pressed {
    -fx-text-fill: #fff;
    -fx-background-color: #ff6694;
}

#buttonRegister:hover{
    -fx-opacity: 0.8; /* Độ mờ */
}

