#manageBooksButton {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 50px;
    -fx-alignment: center-left;
}

#description {
    -fx-alignment: top-left;
}

#backButton {
    -fx-background-color: transparent;
    -fx-text-fill: #696969;
    -fx-font-size: 11;
}

#deleteBook {
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: #ff5757;
    -fx-text-fill: #ffff;
}

#viewUserButton {
    -fx-background-color: #38b1ff;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#viewUserButton:pressed {
    -fx-background-color: #ff6694;
}

#infoPane {
    -fx-background-color: #f5f5f5;
}

.filters  > .title {
    -fx-background-color: #ff6694;
}


