.sceneButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.sceneButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#mainSce {
    -fx-background-color: #ffffff;
}

#accountButton {
    -fx-background-color: #ff6694;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#accountButton:pressed {
    -fx-background-color: #38b1ff;
}

#accountName {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-border-color: #696969;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

#currentAvaPane {
    -fx-border-radius: 30;
    -fx-border-width: 0.5px;
    -fx-border-color: #696969;
    -fx-border-style: solid;
}

.accButton {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 0;
}

.accButton:hover {
    -fx-opacity: 0.8;
}

.accButton:pressed {
    -fx-background-color: #ff6694;
}

.table-view .virtual-flow .scroll-pane {
    -fx-hbar-policy: never;
    /*-fx-vbar-policy: never;*/
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-pane .scroll-bar {
    -fx-background-color: transparent;   /* Nền thanh cuộn trong suốt */
}

.table-view .virtual-flow .scroll-pane .scroll-bar .thumb {
    -fx-background-color: #ff6694;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.table-view .column-header {
    -fx-background-color: #ff6694;    /* Màu nền tiêu đề cột */
}

.table-view {
    -fx-border-color: #000000;   /* Màu viền */
    -fx-border-width: 0.3px;       /* Độ dày của viền */
}

.table-view:focused {
    -fx-focus-color: transparent;   /* Đổi màu hiệu ứng focus của TableView */
    -fx-faint-focus-color: #FFCCBC; /* Đổi màu nhạt hơn cho hiệu ứng focus */
}

.table-view .column-header, .table-view .column-header .label {
    -fx-text-fill: white;             /* Màu chữ tiêu đề cột */
    -fx-font-weight: bold;            /* Định dạng chữ in đậm */
    -fx-alignment: center;            /* Căn giữa tiêu đề cột */
}

.table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;           /* Màu chữ khi hàng được chọn */
}

.table-view .column-header {
    -fx-pref-height: 35px; /* Chiều cao của tiêu đề cột */
}

.table-row-cell {
    -fx-cell-size: 30px;  /* Đặt chiều cao hàng là 40 pixels */
}

.eventButton {
    -fx-background-color: #ff6694;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.eventButton:pressed {
    -fx-background-color: #38b1ff;
}

#backButton {
    -fx-background-color: transparent;
    -fx-text-fill: #696969;
    -fx-font-size: 11;
}