#dashboardButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: centre-left;
}

#dashboardButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: centre-left;
    -fx-padding: 0px 10px 0px 50px;
}

#libraryButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: centre-left;
}

#libraryButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: centre-left;
    -fx-padding: 0px 10px 0px 50px;
}

#collectionButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: centre-left;
}

#collectionButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: centre-left;
    -fx-padding: 0px 10px 0px 50px;
}

#settingButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: centre-left;
}

#settingButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: centre-left;
    -fx-padding: 0px 10px 0px 50px;
}

#mainSce {
    -fx-background-color: #ffffff;
}

#accountMenu {
    -fx-background-color: #38b1ff;
    -fx-font-weight: bold;
    -fx-border-radius: 50;
}