#helpsButton {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 50px;
    -fx-alignment: center-left;
}

.hbutton {
    -fx-font-size: 13px;
    -fx-background-color: #38b1ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.hbutton:pressed {
    -fx-background-color: #ff6694;
}

.titledPane {
    -fx-border-color: #494949;
    -fx-border-width: 0.4px;
}

.titledPane > .title {
    -fx-background-color: #d3d3d3;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: #000000;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-transition: opacity 0.2 ease;
}

.field {
    -fx-border-color: #bebebe;
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: top-left;
}

.field:focused {
    -fx-background-color: #ffffe0;
    -fx-border-color: #ffcc00;
    -fx-border-radius: 10;
    -fx-alignment: top-left;
}

.opPane {
    -fx-border-color: transparent #696969 transparent transparent  ;
    -fx-border-width: 1px;
}

.gameButton {
    -fx-background-color: transparent; /* Xóa màu nền */
    -fx-cursor: pointer; /* Con trỏ chuột khi trỏ vào button: có thay đổi */
    -fx-transition: opacity 0.2 ease; /* Độ mờ khi trỏ vào button */
    -fx-border-radius: 50%; /* Tạo hình tròn */
    -fx-background-radius: 50;
}

.gameButton:pressed {
    -fx-background-color: #ffd1de;
}

.gameLabel {
    -fx-font-size: 13px;
    -fx-background-color: #fff;
}