#dashboardButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#dashboardButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#libraryButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#libraryButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#collectionButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#collectionButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTer_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#settingButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#settingButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#helpsButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#helpsButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#upgradeButton {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

#upgradeButton:hover {
    -fx-background-color: #ffffff;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0px 10px 0px 50px;
}

#mainSce {
    -fx-background-color: #ffffff;
}

#accountButton {
    -fx-background-color: #38b1ff;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#accountButton:pressed {
    -fx-background-color: #ff6694;
}

.editButton {
    -fx-background-color: #38b1ff;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#editButton:pressed {
    -fx-background-color: #ff6694;
}

#accountName {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 0px 5px 0px 5px;
    -fx-border-color: #696969;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}


.accButton {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 0;
}

.accButton:hover {
    -fx-opacity: 0.8;
}

.accButton:pressed {
    -fx-background-color: #ff6694;
}

.scroll-pane {
    /*-fx-hbar-policy: never;
    -fx-vbar-policy: never;*/
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;   /* Nền thanh cuộn trong suốt */
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #ececec;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#deleteButton {
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: #ff5757;
    -fx-text-fill: #ffff;
}

#Description {
    -fx-alignment: top-left;
}

#backButton {
    -fx-background-color: transparent;
    -fx-text-fill: #696969;
    -fx-font-size: 11;
}

.progress-indicator {
    -fx-size: 60px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-progress-color: #38b1ff;
}


.gameButton {
    -fx-background-color: transparent; /* Xóa màu nền */
    -fx-cursor: pointer; /* Con trỏ chuột khi trỏ vào button: có thay đổi */
    -fx-transition: opacity 0.2 ease; /* Độ mờ khi trỏ vào button */
    -fx-border-radius: 50%; /* Tạo hình tròn */
    -fx-background-radius: 50;
}

.gameButton:pressed {
    -fx-background-color: #ffd1de;
}

.gameLabel {
    -fx-font-size: 13px;
    -fx-background-color: #fff;
}



